@import "tailwindcss";

@theme {
  /* Fonts */
  --font-pixfrom: "Pixform";
  --font-favorit-mono: "ABC Favorit Mono";
  --font-inter: "Inter", sans-serif;

  /* Colros */
  --color-bpinno-primary: #2366f0;
  --color-bpinno-black: #090303;

  /* Font Sizes */
  --text-bp-h1: 4.75rem;
  --text-bp-h1--line-height: 1.1;
  --text-bp-h1--letter-spacing: -0.2375rem;
  --text-bp-h1-sm: 42px;
  --text-bp-h1-sm--line-height: 1.05;
  --text-bp-h1-sm--letter-spacing: -1.7px;

  --text-bp-h1-pixfrom: 5rem;
  --text-bp-h1-pixfrom--line-height: 1.05;
  --text-bp-h1-pixfrom--letter-spacing: 0.0625rem;

  --text-bp-h1-pixfrom-sm: 2.75rem;
  --text-bp-h1-pixfrom-sm--line-height: 1.05;
  --text-bp-h1-pixfrom-sm--letter-spacing: 0.0313rem;

  /* Breakpoints */
  --breakpoint-xxl: 90rem;
}

@layer base {
  body {
    @apply antialiased font-favorit-mono text-bpinno-black;
  }

  button {
    @apply cursor-pointer;
  }

  input,
  textarea {
    @apply focus:outline-none;
  }
}

@utility bpinno-container {
  @apply max-w-332 mx-auto px-6;
}
