@import "tailwindcss";

@theme {
  /* Fonts */
  --font-pixfrom: "Pixform";
  --font-favorit-mono: "ABC Favorit Mono";
  --font-inter: "Inter", sans-serif;

  /* Colros */
  --color-bpinno-primary: #2366f0;
  --color-bpinno-black: #090303;

  /* Breakpoints */
  --breakpoint-xxl: 90rem;
}

@layer base {
  body {
    @apply antialiased font-favorit-mono text-bpinno-black;
  }

  button {
    @apply cursor-pointer;
  }
}

@utility bpinno-container {
  @apply max-w-332 mx-auto px-6;
}
